:root {
  --aside-width: 300px;
  --header-height: 100px;
  --footer-height: 50px;

}

body {
  margin: 0;
  position: relative;
  background-color: #dbcccc;
  padding-top: 50px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  float: left;
  width: 100%;
  top:0;
  margin: 0;
  position: fixed;
  padding-bottom: 20px;
  padding-top: 20px;

  border-bottom: 10px solid #f2f2f2;
  text-align: center;
  font-size: xx-large;
  color: #f2f2f2;
  background-color: lightskyblue;
}
footer
{
  text-align: center;
  border-top: 10px solid #81b14f;
  background-color: #451b04;
  position: static;
  padding: 15px;
  float: left;
  width: 100%;
  position:fixed;
  bottom:0;
}
#app{
  text-align: center;
  box-shadow: 2px 2px 8px #0007;
  border-radius: 25px;
  position: absolute;
  
}
#mapBar{
  box-shadow: 0px 2px 8px #0007;
  text-align: center;
  background-color: lightskyblue;
  position: fixed;
  top: 85px;
  width:15%;
  height:100%;
  padding-top: 20px;
  padding-bottom: 100%;
}
#map {
position: fixed;
top: 90px; 
height: 540px;
width: 80%; 
left:250px;
box-shadow: 2px 2px 8px #0007;
}

#interface {
  padding-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  right:100px;
  width: 100%; 
  padding-bottom: 20px;
  border:22px;
  text-align: center;
  background-color: #f2f2f2;
  border-left: #81b14f;
  border-right: #81b14f;
  border-bottom: #81b14f;
}
#search{
  position: relative;
  top:20px;
}
.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input-box {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 180px;
}